.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: beige;
}

h1 {
  margin: 30px;
 font-family: 'Times New Roman', Times, serif;
  
  font-size: 8rem;
  color: lightblue;
}

p {
  font-size: 2rem;
  color: red;
  font-family: 'Times New Roman', Times, serif;
}

img {
  width: 80%;
 
}

footer {
  margin-top: 5%;
  color: black;
  text-align: center;
  font-size: large;
  font-weight: 900;
  font-family: 'Indie Flower', cursive;

}
button{
display: flex;
color: black;

border: 2px solid black;
}

